.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button {
  height: 100%;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.button:hover, .button:active {
  mix-blend-mode: lighten;
  cursor: pointer;
}
